html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background: rgba(50, 100, 200, .05);
  color: black;
}

header {
  background: rgba(50, 100, 200, .8);
}

section {
  width: 70%;
  margin: auto;
  float: right;
}
aside {
  width: 25%;
  margin: auto;
  padding: 2%;
  background: rgba(50, 100, 200, .25);
  float: left;
}
.logo {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5em;
  color: black;
}

.logo img {
  width: 10%;
  padding: 2%;
  min-width: 2em;
  object-fit: contain;
}

.logo span {
  font-size: 50%;
}

h2 {
  margin: 1em 0;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2em;
  text-align: center;
}

nav {
  padding-right: 1em;
  background: rgba(50, 100, 200, 1);
}

nav a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

nav ul{
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  padding-right: 1em;
  font-size: 20px;
}

nav .glyphicon {
  color: white;
  font-size: 2em;
}

nav i {
  color: white;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.item {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  min-width: 30%;
  min-height: 4em;
  padding: 2em 0;
  background: rgba(255,255,255,1);
}
.item-container h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.25em;
  text-align: center;
  height: 2em;
  margin-bottom: 1em;
}

.item img {
  margin-bottom: 1em;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
p.description {
  min-height: 100px;
  padding: 0 1em;
  font-style: italic;
  color: rgba(0, 0, 0, .75);
}

p.price-text {
  width: 100%;
  padding: .5em 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background: rgba(50, 100, 200, .15);
}

footer {
  width: 100%;
  padding: .5em;
  position: fixed;
  bottom: -1px;
  background: rgba(0,0,0, .8);
  text-align: center;
  color: white;
}
.total {
  font-size: 1.5em;
  font-weight: bold;
}
#count-cart {
  font-size: 1em;
  color: white;
}

@media only screen and (max-width: 750px) {
  aside {
    width: 100%;
    height: 1em;
    padding: 2.5%;
    background: rgba(50, 100, 200, .25);
    float: left;
  }
  section {
    width: 100%;
  }
  .item-container {
    width: 100%;
    }
  .item {
    width: 100%;
    justify-content: center;
  }
}